
@{
    ViewBag.Title = "管理员管理";
}
<div class="layui-card layadmin-header"><h3 class="layui-title">管理员管理</h3></div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form" lay-filter="component-form-group">
                <div class="layui-form-item">
                    搜索：
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" placeholder="姓名/登录名/手机号码" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="search-form-submit">
                            <i class="layui-icon layui-icon-search"></i>搜索
                        </button>
                    </div>
                    <div class="layui-pull-right">
                        <button id="btn_add" data-type="add" class="layui-btn layui-btn-normal">新建</button>
                    </div>
                </div>
            </div>
            <table class="layui-hide" id="mainTable" lay-filter="mainTable"></table>

        </div>

    </div>
</div>

<script type="text/html" id="operationTmpl">
    <div class="layui-actions">
        <a lay-target="system_user_reset" lay-event="reset">重置密码</a>
        <a lay-target="system_user_edit" lay-event="edit">编辑</a>
        <a lay-target="system_user_delete" lay-event="del">删除</a>
    </div>
</script>
<script>
    layui.use(['index', 'table', 'form', 'admin'],
        function() {
            var $ = layui.$,
                admin = layui.admin,
                view = layui.view,
                form = layui.form,
                table = layui.table;

            var tableIns = table.render({
                elem: '#mainTable',
                skin: 'line',
                size: 'lg',
                height: 'full-285',
                url: '@Url.Action("List", "User")',
                method: 'Get',
                page: true,
                limit: 20,
                cellMinWidth: 60,
                cols: [
                    [
                        {
                            field: 'Name',
                            title: '姓名'
                        }, {
                            field: 'Account',
                            title: '登录名',
                            align: 'center'
                        }, {
                            field: 'CreateTime',
                            title: '注册时间',
                            align: 'center'
                        }, {
                            field: 'IsAdmin',
                            title: '是否管理员',
                            align: 'center',
                            templet: '<div>{{ d.IsEnabled ? "是":"否"  }}</div>'
                        }, {
                            field: 'IsEnabled',
                            title: '是否启用',
                            align: 'center',
                            templet: '<div>{{ d.IsEnabled ? "是":"否"  }}</div>'
                        }, {
                            title: '操作',
                            align: 'center',
                            width: 175,
                            toolbar: '#operationTmpl'
                        }
                    ]
                ]
            });

            // 搜索
            form.on('submit(search-form-submit)',
                function(data) {
                    tableIns.reload({
                        where: {
                            keyword: data.field.keyword,
                            page: { curr: 1 }
                        }
                    });
                    return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                });


            // 添加
            $("#btn_add").on("click",
                function () {
                    pjax.loadUrl('@Url.Action("Add")');
                });

            //监听工具条
            table.on('tool(mainTable)',
                function(obj) {
                    var data = obj.data;
                    if (obj.event === 'reset') {
                        layer.confirm('您确定重置当前用户密码吗？',
                            function(index) {
                                layer.close(index);
                                admin.req({
                                    type: "POST",
                                    url: '@Url.Action("ResetPassword")',
                                    data: { "id": data.Id },
                                    async: false,
                                    success: function(res) {
                                        if (res.code === 200) {
                                            table.reload('mainTable');
                                        } else {
                                            layer.alert(res.msg, { icon: 2 });
                                        }
                                    },
                                    error: function(res) {
                                        layer.alert('出错了！', { icon: 2 });
                                    }
                                });
                            });
                    } else if (obj.event === 'del') {
                        layer.confirm('确认删除该条数据？',
                            function(index) {
                                layer.close(index);
                                admin.req({
                                    type: "POST",
                                    url: '@Url.Action("Delete")',
                                    data: { "id": data.Id },
                                    async: false,
                                    success: function(res) {
                                        if (res.code === 200) {
                                            table.reload('mainTable');
                                        } else {
                                            layer.alert(res.msg, { icon: 2 });
                                        }
                                    },
                                    error: function(res) {
                                        layer.alert('出错了！', { icon: 2 });
                                    }
                                });
                            });
                    } else if (obj.event === 'edit') {
                        pjax.loadUrl('@Url.Action("Edit")?id=' + data.Id);
                    }
                });
        });
</script>